@import "css/reset";
@import "css/font";

:root {
	--calc-offset-x: 20px;
	--calc-offset-y: 20px;
	--calc-blur-radius: 54px;

	--cool-white: hsl(206, 21%, 87%);
	--warm-white: hsl(210, 21%, 87%);

	--main-color: hsla(210, 42%, 22%, 0.7);
}

body {
	background-color: var(--cool-white);
}

.App {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Calculator {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 60px;
	color: var(--main-color);

	height: auto;
	width: 362px;
	padding: 16px;

	border-radius: 36px;
	background: var(--warm-white);
	box-shadow: var(--calc-offset-x) var(--calc-offset-y)
			var(--calc-blur-radius) hsl(202, 24%, 75%),
		calc(var(--calc-offset-x) * -1) calc(var(--calc-offset-y) * -1)
			var(--calc-blur-radius) rgba(255, 255, 255, 0.83);
}

.Screen {
	overflow: auto;
	border-radius: 20px;
	height: 170px;
	letter-spacing: -3px;

	display: flex;
	justify-content: flex-end;
	align-items: end;
	margin-bottom: 20px;
}

.Numpad {
	display: grid;
	gap: 15px;
	grid-template-columns: repeat(4, 1fr);
}

.pad {
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 24px;

	border-radius: 50%;
	background: var(--warm-white);
	box-shadow: 3px 3px 8px hsl(202, 24%, 72%),
		-2px -2px 8px hsla(0, 0%, 98%, 0.937);
}

.pad--span {
	grid-column: span 2;
	height: 71.25px;
	border-radius: 100px;
}

.pad::before {
	content: "";
	padding-bottom: 100%;
	display: block;
}

.pad:active {
	background-color: hsl(210, 24%, 85%);
	box-shadow: inset 3px 3px 6px hsl(202, 24%, 72%),
		inset -2px -2px 6px hsla(0, 0%, 98%, 0.937);
}

.Math {
	color: hsl(219, 82%, 68%);
}

.Misc {
	color: hsl(216, 49%, 68%);
}

.clear {
	color: hsl(0, 0%, 94%);
}
