@import "css/reset";
@import "css/font";

body {
	background-color: hsl(206, 21%, 87%);
}

.App {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Calculator {
	font-family: "Inter", sans-serif;
	font-weight: 300;
	font-size: 48px;
	color: hsla(210, 25%, 22%, 0.7);

	height: 600px;
	width: 362px;
	padding: 16px;

	border-radius: 36px;
	background: hsl(210, 21%, 87%);
	box-shadow: 18px 18px 36px #bebebe, -18px -18px 36px #ffffff;
}

.Screen {
	border-radius: 20px;
	height: 30%;

	display: flex;
	justify-content: flex-end;
	align-items: end;
}
